html, body * { 
    box-sizing: border-box;
}

.main-nav {
    display: block;
    width: 100%;
    padding-bottom: .1rem;
    position: fixed;
    top: 10;
    margin: 0;
    text-align: center;
    z-index: 2;
}

.main-content{
    padding: 1rem;
    width: 60vw;
    max-width: 800px;
    margin: 0 21vw 0 10vw;
}

.page-header{
    text-align: center;
    margin-bottom: 2rem;
}

.sidebar{
    background-color: aqua;
    padding: 1rem;
    margin-top: 1rem 15vw 1rem 0;
    float: right;
}